.App {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
  width:100%;
}
nav{
  
  ul{
    padding:0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    li{
      font-weight: 400;
      text-decoration: none;
      a, a:visited{
        text-decoration: none;
      }
    }
  }
  hr{
    border-top: 1px solid #ddd;
  }
}.song-content{
  margin-top:40px;
  .chart-list{
    list-style: none;
    text-align: left;
    background: lightgreen;
    padding:0;
    max-width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    li{
      display: flex;
      justify-content: space-between;
      padding:15px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
    }
  }
}
.AddTodo {
  display: flex;
  margin-top:40px
}

.AddTodoInput, .EditTodoInput, .TodoText {
  width: 80%;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  
}

.AddTodoButton, .RemoveTodo, .EditTodo, .EditTodoSave, .EditTodoCancel {
  margin-left: 5px;
  height: 30px;
  vertical-align: bottom;
  font-size: 14px;
  text-transform: uppercase;
  border:none;
  flex-grow: 1;
  &.danger{
    background-color: lightcoral;
  }
  &.warn{
    background-color: lightsalmon;
  }
  &.info{
    background-color: lightgreen;
  }
}

.Todo {
  border: 1px solid #ededed;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 1px;
  display: flex;
}