.App {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
  width:100%;
}
nav{
  
  ul{
    padding:0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    li{
      font-weight: 400;
    }
  }
  hr{
    border-top: 1px solid #ddd;
  }
}.song-content{
  margin-top:50px;
}
